<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemoSuite">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="Sauce Tests">
        <classes>
            <class name="testcases.LoginTest"/>
            <class name="testcases.AddToCartTest"/>
        </classes>
    </test>

</suite>
